*{
	padding : 0;
	margin : 0;
	box-sizing : border-box;
}
body{
	font-family: 'Rancho', cursive;
	background-image: url('../img/bg.jpg');
	background-size : cover;
	background-color : grey;
}
div{
	width : 700px;
	margin : auto;
	margin-top : 1%;
	border : 3px solid black;
	border-radius : 10px;
	padding : 20px;
	text-align : center;
	background-color : grey;
	opacity : 10;
	//display : flex;
	//justify-content : space-around;
	
}
div form label{
	color : white ; 
	margin : 15px 0 10px;
	text-algin : left;
	font-size : 1.5em;
}
form, table{
	//width : 60%;
	display : inline-block;
	height : 100%;
	//border : 2px solid gold;
}